@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e4dfda;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

footer {
  font-size: 0.5rem;
  background-color: #50514f;
  color: #ffffff;
}

footer a {
  font-size: 1rem;
  color: #ffffff;
}

.gig-section {
  height: 60vh;
}

.contact-section {
  height: 100%;
  padding-bottom: 5vh;
}

.press-bookings h6 {
  padding-top: 3rem;
  text-decoration: underline;
  word-wrap: break-word;
}

.fab {
  font-size: 1.2rem;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.social-icons-big i {
  font-size: 3rem;
  color: #48a9a6;
}

#hero-image {
  height: 55vh;
}

.rest-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/sky-v3-banner.png");
  height: 55vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.rest-hero-text {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  background-color: #ff570a;
  color: #ffffff;
}

.table-style {
  overflow-x: auto;
}

.img-thumbnail {
  max-height: 100%;
}

.listing {
  padding: 0.5rem;
}
