body {
    background-color: #ffffff;
    font-family: "DM Mono", monospace;
    height: 100%;
}

.fab {
    font-size: 1.2rem;
}

.title-card-colour {
    background-color: #FF570A;
}

.section-colour {
    background-color: #ffffff
    color: #ffffff;
}