body {
    font-family: DM Mono;
}

body, html {
  height: 100%;
}

/* - - - - - - - - - - - - Home page - - - - - - - - - - - - */
/* - - - - - - - - - - - - Background Image - Home Page - - - - - - - - - - */

.background-image {
    background-image: url("../assets/img/background1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* - - - - - - - - - - - - Nav Bar - - - - - - - - - - */

#nav-bar {
    padding: 0px 5px;
    position: absolute;
    overflow: hidden;
    /*border: 4px red;*/
    /*background: grey;*/
}

#header-logo-image {
    width: 46px;
    height: 46px;
    border-radius: 60%;
    overflow: hidden;
    margin-top: 1px;
    margin-left: 10%;
}

#logo-title {
    margin-left: 20%;
}

#nav-order {
    float: left;
    text-align: center;
    text-shadow: 1px 2px #cfebcc;
}

#nav-order a {
    display: inline-block;
    text-align: left;
    padding: 15px;
    margin-top: 0.7em;
}


/* - - - - - - - - - - - - Feature info - - - - - - - - - - - - */

#home-page-featured {
    position: absolute;
    width: 50%;
    top: 50%;
}

#home-page-featured p {
    text-align: center;
}