body {
    font-family: DM Mono;
}

body, html {
    height: 100%;
}

/* - - - - - - - - - - - - Home page - - - - - - - - - - - - */
/* - - - - - - - - - - - - Background & Nav Logo Image - Home Page - - - - - - - - - - */

.background-image {
    background-image: url("../assets/img/background1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-logo-image {
    width: 46px;
    height: 46px;
    border-radius: 60%;
    overflow: hidden;
    margin-top: 1px;
    margin-left: 10%;
}

/* - - - - - - - - - - - - Nav Bar - - - - - - - - - - */

#nav-bar {
    padding: 0px 5px;
    position: absolute;
    overflow: hidden;
}

#logo-title {
    float: right;
}

#nav-order {
    float: left;
    text-align: left;
    text-shadow: 1px 2px #cfebcc;
    padding: 15px;
}

#nav-order a {
    /*display: inline-block;*/
    text-align: left;
    margin-top: 0.7em;
    text-shadow: 1px 2px #cfebcc;
}

.logo-image-props {
    filter: drop-shadow(8px 8px 10px gray);
    filter: saturate(8);
    filter: invert(100%);
}


/* - - - - - - - - - - - - Feature info - - - - - - - - - - - - */

#home-page-featured {
    position: absolute;
    width: 100%;
    top: 50%;
}

#home-page-featured p {
    text-align: center;
    padding: 2%;
}

