/* COLOUR PALETTE

Black - #161614
 
Teal - #6d95aa

Red - #b54c49

Grey - #bec1b9

White - #eaebea */

body {
    font-family: DM Mono;
}

/* - - - - - - - - - - - - ALL - - - - - - - - - - - - */

.section-background-top {
    background-image: url("./img/people1.jpeg");
}

.section-background-middle {
    background-image: url("./img/people2.jpeg");
}

.section-background-bottom {
    background-image: url("./img/people3.jpeg");
}

.section-heading h1 {
    text-align: center;
    padding: 0.7em;
    background-color: #6d95aa;
    margin: 0px;
}

.section {
    color: #bec1b9;
}

.section-heading-title {
    text-align: center;
    padding-bottom: 10px;
}

.active {
    text-decoration: underline;
}

/* - - - - - - - - - - - - HOME - - - - - - - - - - - - */
/* - - - - - - - - - - - - Home Page - - - - - - - - - - */

/* - - - - - - - - - - - - Nav Bar - - - - - - - - - - */

.navbar {
    background-color: #eaebea;
    font-family: DM Mono;
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.5em;
}

/* - - - - - - - - - - - - Feature info - - - - - - - - - - - - */

/* - - - - - - - - - - - - CONTACT - - - - - - - - - - - - */

.contact-container {
    padding: 1.2em;
}

.contact-us-form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.contact-us-form {
    padding: 1.2em;
}

.form-check {
    padding-bottom: 15px;
    padding-left: 5px;
}

.small-print {
    font-size: 0.6em;
}

.form-check-inline {
    font-size: 0.8em;
}

.btn-primary {
    background-color: #6d95aa;
}

.btn-primary:hover {
    background-color: #b54c49;
}

.contact-us-form h6 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact-listing {
    margin-bottom: 3vh;
    text-align: center;
}

.contact-listing h6 {
    margin: 0;
}

.contact-listing p {
    margin: 0;
}

.contact-listing a {
    font-family: roboto;
}


/* - - - - - - - - - - - - Footer - - - - - - - - - - - - */

#footer {
    background-color: #eaebea;
}

#footer-left-text {
    padding: 20px;
    color: #161614;
    text-align: center;
}

.footer-logo a img {
    background-image: rgba(0, 0, 0, 0.25);
    background-size: 75%;
    background-repeat: no-repeat;
  }

