/* COLOUR PALETTE

Black - #161614
 
Teal - #6d95aa

Red - #b54c49

Grey - #bec1b9

White - #eaebea */

body {
    font-family: "DM Mono", monospace;
    height: 100%;
}

/* - - - - - - - - - - - - ALL - - - - - - - - - - - - */

.entire-section-wrapper {
    /*height: calc( 100vh - 62px);*/
}

.section-background {
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    overflow: hidden;
}

.section-background-top {
    background-image: url("./img/people1.jpeg");
}

.section-background-middle {
    background-image: url("./img/people2.jpeg");
}

.section-background-bottom {
    background-image: url("./img/people3.jpeg");
}

.section-heading h1 {
    text-align: center;
    padding: 0.7em;
    background-color: #6d95aa;
    margin: 0px;
}

.section {
    color: #bec1b9;
    height: 100%;
}

.section-heading-title {
    text-align: center;
    padding-bottom: 10px;
}

.active {
    text-decoration: underline;
}

.btn-primary {
    background-color: #b54c49;
}

.btn-primary:hover {
    background-color: #6d95aa;
}



/* - - - - - - - - - - - - Nav Bar - - - - - - - - - - */

.navbar {
    background-color: #eaebea;
    font-family: DM Mono;
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.5em;
}

/* - - - - - - - - - - - - HOME - - - - - - - - - - - - */
/* - - - - - - - - - - - - Home Page - - - - - - - - - - */

.home-page-buttons {
    padding: 1.2em;
}

.btn {
    opacity: 0.9;
}

.video-container {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
} 



/* - - - - - - - - - - - - HOME - - - - - - - - - - - - */



/* - - - - - - - - - - - - Releases - - - - - - - - - - - - */

@media (max-width:575px) {
    .media img {  
        padding: 10px;
    }  
}

@media (min-width:576px) {
    .video-container {
        height: 50vh;
    }

    .iframe {
        background-size: cover;
    }
}

.simple-discog-list { 
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding: 1.2em;
    color: black;
}

.media {
    padding: 10px;
    background-color: rgba(190,193,185, 0.8);
}

.release-container {
    padding: 12px;
    font-size: 0.9em;
}

.social-icon-releases-container {
    word-spacing: 1rem;
    font-size: 1.1rem;
    text-align: left;
    line-height: initial;
    overflow-wrap: break-word;
}

.track-order {
    font-family: roboto;
    letter-spacing: 1px;
}

.track-order {
    overflow: visible;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.media .row {
    margin: 0px;
}

.media-list-padding {
    height: 15px;
}

.media .video-container {
    height: 100%;
}

/* - - - - - - - - - - - - Gigs - - - - - - - - - - - - */

.gig-table-section {
    /*width: 50%;
    margin-right: auto;
    margin-left: auto;*/
    padding: 1.2em;
    overflow: auto;
}

/* - - - - - - - - - - - - CONTACT - - - - - - - - - - - - */

.contact-container {
    padding: 1.2em;
}

.contact-us-form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.contact-us-form {
    padding: 1.2em;
}

.form-check {
    padding-bottom: 15px;
    padding-left: 5px;
}

.small-print {
    font-size: 0.6em;
}

.form-check-inline {
    font-size: 0.8em;
}

.contact-us-form h6 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact-listing {
    margin-bottom: 3vh;
    text-align: center;
    overflow-wrap: break-word;
    }

.contact-listing h6 {
    margin: 0;
}

.contact-listing p {
    margin: 0;
}

.contact-listing a {
    font-family: roboto;
}

.social-icon-container {
    font-size: 4em;
}

.social-icon-container li i {
    color: #b54c49;
}

.social-icon-container ul {
    margin: 1rem;
}

.social-links {
    text-align: center;
}


/* - - - - - - - - - - - - Footer - - - - - - - - - - - - */

#footer {
    background-color: #eaebea;
    height: 50%;
}

#footer-left-text {
    font-size: 0.75em;
    padding: 20px;
    color: #161614;
    text-align: center;
    margin-bottom: 0rem;
}

.footer-logo {
    padding: 3vh;
}

.social-links {
    padding: 3vh;
}

.fab {
    color: grey;
}