body {
    font-family: DM Mono;
}

/*body,
html {
    height: 100%;
}*/

/* - - - - - - - - - - - - ALL - - - - - - - - - - - - */


/* - - - - - - - - - - - - HOME - - - - - - - - - - - - */
/* - - - - - - - - - - - - Home Page - - - - - - - - - - */
/* - - - - - - - - - - - - Background image - - - - -- - */
/*.background-image {
    background-image: url("../assets/img/background1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/* - - - - - - - - - - - - Nav Bar - - - - - - - - - - */

#nav-bar {
    background-color: #eaebea;
    padding-left: 5px;
    padding-right: 5px;
    /*position: absolute;*/
    /*overflow: hidden;*/
}

.navbar-brand {
    max-height: 40px;
    max-width: 30%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid li {
    display: inline-block;
}

#nav-order a {
    /*display: inline-block;*/
    text-align: left;
    font-size: 10em;
    margin-top: 0.7em;
    color: initial;
    text-shadow: 1px 1px #fff;
}

.logo-image-props {
    filter: drop-shadow(8px 8px 10px gray);
    filter: saturate(8);
    filter: invert(100%);
}


/* - - - - - - - - - - - - Feature info - - - - - - - - - - - - */

.background-featured {

    background-color: #a2a338;
}

#home-page-featured {
    position: absolute;
    width: 100%;
    top: 50%;
}

#home-page-featured p {
    text-align: center;
    padding: 2%;
}

/* - - - - - - - - - - - - CONTACT - - - - - - - - - - - - */
/* - - - - - - - - - - - - Feature info - - - - - - - - - - - - */

#contact-centre-frame {
    position: absolute;
    width: 100%;
    top: 50%;
}

.contact-table {
    background-color: rgba(171, 155, 137, 0.7)
}

.contact-title {
    margin-top: 50px;
}

/* - - - - - - - - - - - - Footer - - - - - - - - - - - - */

.footer {
    display: flex;
    background-color: #45a1ff;
}