/* COLOUR PALETTE

Black - #161614
 
Teal - #6d95aa

Red - #b54c49

Grey - #bec1b9

White - #eaebea */

body {
    font-family: DM Mono;
}

/* - - - - - - - - - - - - ALL - - - - - - - - - - - - */

.section-heading h1 {
    text-align: center;
    padding: 0.7em;
    background-color: #6d95aa;
    margin: 0px;
}

.section {
    background-color: ;
    margin: 10%;
}

/* - - - - - - - - - - - - HOME - - - - - - - - - - - - */
/* - - - - - - - - - - - - Home Page - - - - - - - - - - */
/* - - - - - - - - - - - - Background image - - - - -- - */
/*.background-image {
    background-image: url("../assets/img/background1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/* - - - - - - - - - - - - Nav Bar - - - - - - - - - - */

.navbar {
    background-color: #eaebea;
    font-family: DM Mono;
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.5em;
}

/* - - - - - - - - - - - - Feature info - - - - - - - - - - - - */

/* - - - - - - - - - - - - CONTACT - - - - - - - - - - - - */

.contact-us-form {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.contact-us-form {
    padding: 1.2em;
}

.form-check {
    padding-bottom: 15px;
    padding-left: 5px;
}

.small-print {
    font-size: 0.6em;
}

.form-check-inline {
    font-size: 0.8em;
}

.btn-primary {
    background-color: #6d95aa;
}

.btn-primary:hover {
    background-color: #b54c49;
}

.contact-us-form h6 {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*contact-listing {
    
}*/


/* - - - - - - - - - - - - Footer - - - - - - - - - - - - */

.footer {
    display: flex;
    background-color: #45a1ff;
}

